@charset "utf-8";
.img-box img {
	display: block;
	width: 100%;
}
.btn-box {
	position: relative;
}
.dh_btn {
	position: absolute;
	bottom: 0;
	width: 1.8rem;
	height: 0.6rem;
}
.btn_01 {
	left: 0.5rem;
}
.btn_02 {
	left: 2.88rem;
}
.btn_03 {
	left: 5.22rem;
}